### ipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

### Java ###
*.class

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


